body {
    font-family: 'Dosis', sans-serif;
    font-size: 16px;
}

header {
    display: flex;
    justify-content: center;
    background-color: var(--primary-color);
    color: black;
    padding: 1rem;
}

nav {
    background-color: var(--secondary-color);
}

nav ul {
    display: flex;
    flex-direction: row;
    text-align: center;
    list-style: none;
    border-top: var(--bord);
    border-bottom: var(--bord);
    padding: 1rem;
    margin: 0;
}

nav ul li {
    padding: 0.5rem;
    flex: 1 1 auto;
    margin: 0;
    background-color: var(--secondary-color);
}

nav ul li a {
    padding: 0.5rem;
    color: white;
    text-decoration: none;
    font-weight: 700;
    transition-duration: 0.5s;
}

nav ul li a:hover {
    color: var(--terciary-color);
    transition-duration: 0.25s;
}

div {
    margin: 0 auto;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    padding: 2rem;
}

ul li {
    color: black;
    background-color: var(--primary-color);
    border-radius: 10px;
    list-style-type: none;
    padding: 1rem;
    margin-bottom: 10px;
}

h2 {
    font-size: 20px;
    font-weight: bold;
}

p {
    margin-bottom: 10px;
}

img {
    max-width: 90%;
    height: auto;
    padding: 1rem;
}

.card {
    background-color: var(--primary-color);
    border-top: var(--bord);
    border-bottom: var(--bord);
    padding: 1rem;
    margin: 1rem 0;
}

footer {
    border-top: var(--bord);
    background-color: var(--secondary-color);
    color: white;
    padding: 1rem;
    text-align: center;
}