@media screen and (min-width: 500px) {
    h1 {
        font-size: 1.8rem;
    }

    aside {
        border-top: none;
    }

    form {
        margin: auto;
        max-width: 480px;
    }

    #hamburger {
        display: none;
    }

    #forcast span {
        display: flex;
        flex-direction: row;
        text-align: center;
        margin-top: 0.25rem;
    }

    /* Class selectors */
    .navigation {
        display: flex;
        flex-direction: row;
        text-align: center;
        list-style: none;
        border-top: var(--bord);
        border-bottom: var(--bord);
        padding: 1rem;
        margin: 0;
    }

    .discover {
        display: grid;
        grid-template-columns: 1fr 4fr;
    }

    .discover section {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .discover-content {
        display: grid;
    }

    .discover-content h3 {
        grid-column: span 2;
    }

    .discover-content img {
        grid-column: span 2;
        grid-row: 2/3;
        max-width: 90%;
        transition-duration: 0.5s;
    }

    .discover-content img:hover {
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        transition-duration: 0.5s;
        transform: scale(1.1);
    }

    .card {
        grid-template-columns: 2fr 1fr;
        padding: 3rem;
    }

    .card:nth-child(even) {
        grid-template-columns: 1fr 2fr;
    }

    .card:nth-child(even) img {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    
    .card section {
        display: grid;
        grid-template-rows: 1fr 2fr;
        padding: 1rem;
    }

    .card img {
        grid-column: 2/3;
        max-width: 90%;
    }
    
    .event {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 1rem;
        margin: 1rem 0;
    }

    .event section {
        display: grid;
        grid-template-rows: 1fr 2fr;
        padding: 1rem;
        text-align: center;
    }

    .event section h2 {
        font-size: 30px;
        font-weight: bold;
    }

    .call-to-action {
        grid-column: 2/3;
    }

    .no-grid {
        display: block !important;
    }
    
    .no-grid h2 {
        text-align: center;
    }

    .weather div {
        flex-direction: row;
        justify-content: space-between;
    }

    .list div {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
        align-items: center;
        text-align: left;
        margin: 0;
    }

    .list div > * {
        margin: 1rem;
    }
}
