@media screen and (min-width: 768px) {
    .navigation {
        display: flex;
        flex-direction: row;
        text-align: center;
        list-style: none;
        border-top: var(--bord);
        border-bottom: var(--bord);
        padding: 1rem;
        margin: 0;
    }

    .card {
        grid-template-columns: 2fr 1fr;
        padding: 3rem;
    }

    .card:nth-child(even) {
        grid-template-columns: 1fr 2fr;
    }

    .card:nth-child(even) img {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    
    .card section {
        display: grid;
        grid-template-rows: 1fr 2fr;
        padding: 1rem;
    }

    .card img {
        grid-column: 2/3;
        max-width: 90%;
    }

    #hamburger {
        display: none;
    }

    .call-to-action {
        grid-column: 2/3;
    }
}
