body {
    font-family: 'Roboto', sans-serif;
}

header, main, footer {
    max-width: 640px;
    margin: 1rem auto;
    border: black 1px solid;
    padding: 1rem;
    background-color: #1C5D99;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

section {
    background-color: #F2F2F2;
    padding: 1rem;
}

footer {
    color: white;
}