body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

main {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: var(--primary-color);
    color: white;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

#hamburger {
    position: absolute;
    top: 10rem;
    right: 1rem;
    font-size: 36px;
    color: black;
    padding: 0.5rem;
	text-decoration: none;
}

#hamburger::after {
    content: '≡';
}

#hamburger.show::after {
    content: '×';
    color: white;
}

nav {
    background-color: var(--secondary-color);
}

.navigation {
    display: none;
}


.navigation li a {
    padding: 0.5rem;
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.navigation li a:hover {
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: black;
    transition-duration: 0.25s;
}

.show {
    display: flex;
    flex-direction: column;
    text-align: center;
    list-style: none;
    padding: 1rem;
    margin: 0;
}

.show li {
    padding: 10px;
    flex: 1 1 auto;
}

.active {
    color: var(--primary-color);
}

.map iframe {
    grid-column: span 2;
    max-width: 100%;
    border-radius: 5px;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    padding: 2rem;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

h3 {
    font-size: 18px;
    font-weight: bold;
}

p {
    margin-bottom: 10px;
}

img {
    max-width: 120px;
    height: auto;
    padding: 0.5rem;
}

.card {
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-bottom: 20px;
}

.card ul li a {
    text-decoration: none;
    transition-duration: 0.5s;
}

.card ul li a:hover {
    color: black;
    transition-duration: 0.25s;
}

footer {
    background-color: var(--primary-color);
    color: white;
    padding: 20px;
    text-align: center;
}