/* Color Scheme */
:root {
    --primary-color: #222222; /* Gray */
    --secondary-color: #1C5D99; /* Blue */
}

/* Typography */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    max-width: 960px;
    margin: 0 auto;
    color: var(--text-color);
}

main {
    padding: 20px;
    display: grid;
    grid-template: auto / 1fr 1fr 1fr;
    section {
        margin-bottom: 20px;
        grid-column: span 3;
    }
}

nav {
    margin-bottom: 20px;
    padding: 10px;
    background-color: var(--secondary-color);
    border-radius: 5px;
    box-shadow: 0 0 10px black;
}

nav ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    list-style: none;
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

h2 {
    font-size: 20px;
    font-weight: bold;
}

h3 {
    font-size: 18px;
    font-weight: bold;
}

p {
    margin-bottom: 10px;
}

img {
    width: 420px;
    height: auto;
    display: block;
    margin: 0 auto;
}

a {
    color: white;
    text-decoration: none;
    padding: 20px;
}

a:hover {
    color: black;
}