:root {
    --primary-color: #9c2c13;
    --secondary-color: #6f200e;
    --tertiary-color: #445ba9;
    --light-color: #ddd;
    --dark-color: #555;
    --success-color: green;
}

body {
    font-size: 16px;
}

main {
    max-width: 320px;
    margin: 0 auto;
    padding: 1rem;
}

form {
    border-radius: 6px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.4);
    padding: 0.2rem 2rem;
}

form fieldset {
    margin: 2rem 0;
    border: solid 1px var(--light-color);
    border-radius: 6px;
    padding: 0.5rem 2%;
}

form legend {
    color: var(--tertiary-color);
    padding: 0 0.5rem;
}

form label {
    display: block;
    padding-top: 1rem;
    color: var(--primary-color);
    font-size: 0.9rem;
}

form div {
    padding-top: 1rem;
    color: #445ba9;
    font-size: 0.9rem;
}

form input[type="text"],
form input[type="password"],
form input[type="email"] {
    background-color: var(--light-color);
    display: block;
    border: solid 1px var(--light-color);
    border-radius: 6px;
    padding: 0.75rem;
    color: var(--dark-color);
    width: 100%;
    max-width: 200px;
    appearance: none;
}

form #rangevalue {
    text-align: center;
    padding: 0.5rem;
    border: solid 1px var(--light-color);
    border-radius: 6px;
    font-size: large;
}

form input[type="range"] {
    display: block;
    width: 200px;
    padding: 1rem;
}

form input[type="submit"] {
    background-image: linear-gradient(var(--primary-color), var(--secondary-color));
    color: white;
    padding: 0.8rem;
    margin: -1rem 2% 2rem 2%;
    width: 96%;
    border: none;
    border-radius: 6px;
    box-shadow: 1px 1px 4px var(--dark-color);
    transition-duration: 0.5s;
}

form input[type="submit"]:hover {
    box-shadow: 2px 2px 4px var(--dark-color);
    transition-duration: 0.5s;
}

form input[type="submit"]:active {
    background-image: linear-gradient(var(--secondary-color), var(--primary-color));
}

form input:required {
    border-left: solid 8px var(--primary-color);
}

form input:required:valid {
    border-left: solid 8px var(--success-color);
}

@media screen and (min-width: 600px) {
    main {
        max-width: 420px;
    }
    
    form input[type="text"],
    form input[type="password"],
    form input[type="email"],
    form input[type="range"] {
        max-width: 300px;
    }
}