@media screen and (min-width: 1014px) {
    .navigation {
        display: flex;
        flex-direction: row;
        text-align: center;
        list-style: none;
        padding: 1rem;
        margin: 0;
    }

    .navigation li {
        padding: 10px;
        flex: 1 1 auto;
    }

    .navigation li a {
        padding: 1rem;
    }

    div {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    h2 {
        grid-column: span 2;
        margin-left: 10px;
    }

    .card {
        margin: 10px;
    }

    #hamburger {
        display: none;
    }
}